* {
    box-sizing: border-box;
}

body {
    font-family:sans-serif;
    background: #B2FEFA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00cc66, #3333ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00cc66, #3333ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #000000;
    color: white;
    text-align: center;
}