h1 {
    text-align:center;
}
a{
    text-align:center;
}
footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: brown;
    color: white;
    text-align: center;
}