*{
    margin: 0;
    padding: 0;
    
}
.navbar{

border: none;
background-color: black;
color: #61122F;
}
body{
    background-color: #163c79;
    color: white;
}
.glyphicon{
    font-size: 30px;
    color:#61122F; 
}

.center{
    width: 90%;
    background-color: grey;

}
.container
{
    background-color: grey;
}
.text-center{
    font-size: 30px;
}

h2{
    text-align: left;
}
h3{
    text-align: left;
}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: brown;
    color: white;
    text-align: center;
}

#myNavbar ul li a {
    color: #61122F;
}
.navbar-brand{
font-size: 30px;    
}