@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Yusei Magic', sans-serif;
    background: #B2FEFA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffcc66, #ff99cc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffcc66, #ff99cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #000000;
    color: white;
    text-align: center;
}
h1{
    text-align: left;
}