@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  cursor: none;
  font-family: 'Changa', sans-serif;
  background-color: #bab8b8;
  background-image: linear-gradient(315deg, #383838 0%, #f5f7fa 74%);
}

nav {
  display: flex;
  justify-content: space-evenly;
  min-height: 10vh;
  width: 90%;
  align-items: center;
  margin: auto;
  min-height: 100vh;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.nav-links li {
  padding: 1rem;
  font-size: 1.5rem;
}
.nav-links,
h1 {
  flex: 1;
}

.cursor {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border: 2px solid black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  z-index: -1;
  backdrop-filter: grayscale();
}
.link-animate {
  transform: scale(2);
  background: black;
}
.link-hovering {
  color: white;
}
footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #000000;
    color: white;
    text-align: center;
}